/*Import Google Fonts Here*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans';


img{max-height:100%;max-width:100%}#nt-example2 {max-width: 100%;margin: auto;border:1px solid #000;margin-bottom:1.2em;}
ul {-webkit-padding-start: 0 !important;}
#nt-example2 li::before {content:"NEWS";color:#FFF;padding-right:1.3em;}
#nt-example2 li {color: #000;background-image:linear-gradient(to right,#3399cc,#3399cc 85px,#ffffff 85px,#ffffff 85%,#ffffff 85%);position:static;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height:27px;line-height: 30px;list-style: none;text-align: left;padding: 0 16px 0 16px;font-size:18px;}
.headline {width:100%;height:40px;background:#3399CC;}
.headline h1 {color:#FFFFFF; text-transform:uppercase; text-align:center; font-weight: bold;font-size:19.5px;line-height:42.9px;font-family: 'Open Sans', sans-serif;}
.columns{background:#F2F2F2;}
button.accordion {
    background-color: #3399cc;
    color: #F2F2F2;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
}
    button.accordion:before{
    content: '\02795';
    font-size: 13px;
    color: #FFFFFF;
    float: left;
    margin-right: 5px;
}
button.accordion.active:before{
    content: "\2796";
}
div.panel {
    padding: 0;
    background-color:#F2F2F2;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}
div.panel.show {
    opacity: 1;
    max-height: 500px;
}
tbody tr:nth-of-type(2n) {background-color: #F2F2F2;}
tbody {background-color: #F2F2F2;}
th {background-color:#F2F2F2;font-weight:bold;color:#000;padding:7px;}
td {padding:0px;text-align: center;}				.lightbox { display: none; }

@media all{.featherlight{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:2147483647;text-align:center;white-space:nowrap;cursor:pointer;background:#333;background:rgba(0,0,0,0)}.featherlight:last-of-type{background:rgba(0,0,0,.8)}.featherlight:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-.25em}.featherlight .featherlight-content{position:relative;text-align:left;vertical-align:middle;display:inline-block;overflow:auto;padding:25px 25px 0;border-bottom:25px solid transparent;margin-left:5%;margin-right:5%;max-height:95%;background:#fff;cursor:auto;white-space:normal}.featherlight .featherlight-inner{display:block}.featherlight .featherlight-close-icon{position:absolute;z-index:9999;top:0;right:0;line-height:25px;width:25px;cursor:pointer;text-align:center;font-family: 'Open Sans', sans-serif;background:#fff;background:rgba(255,255,255,.3);color:#000}.featherlight .featherlight-image{width:100%}.featherlight-iframe .featherlight-content{border-bottom:0;padding:0}.featherlight iframe{border:0}.featherlight *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}}@media only screen and (max-width:1024px){.featherlight .featherlight-content{margin-left:10px;margin-right:10px;max-height:98%;padding:10px 10px 0;border-bottom:10px solid transparent}}
@media screen and (max-device-width: 480px) {#releasedate {left: 9px !important;}th {padding:0;}td {padding:0;font-size:13px}.headline h1{bold 1.0em/2.5em" Helvetica Neue", Helvetica, Arial, sans-serif;}.lines{width:100% !important;float:none !important;}}
#bubblechart > div > div:nth-child(1) > div > svg > g:nth-child(3) > g:nth-child(2) > g > circle:nth-child(9){display:none !important;}

	a.tooltip {outline:none; }
	a.tooltip strong {line-height:30px;}
	a.tooltip:hover {text-decoration:none;} 
	a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:500px; line-height:16px;
	}
	a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
	.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
	/*CSS3 extras*/
	a.tooltip span
	{
		border-radius:4px;
		box-shadow: 5px 5px 8px #CCC;
	}
	
/* Reliability and Usage */

	*,
	*::before,
	*::after {
	  box-sizing: border-box;
	}

	a {
	  text-decoration: none;
	}

	.containers {
	  position: absolute;
	  left: calc(10%);
	  width: 1352px;
	  margin: 20px 0;
	  padding: 30px;
	  border: 1px dashed #646c71;
	}

	.side {
		float: left;
		width: 219px;
	  padding-right: 30px;
	}

	.side h1 {
		margin: 0;
		color: #fff;
		font-size: 1.1em;
		letter-spacing: 1px;
	  line-height: 1.3;
		text-transform: uppercase;
	  color: black;
	}

	.side ul {
		margin: 48px 0;
		padding: 0;
		list-style: none;
		font-size: .9em;
		text-transform: uppercase;
	  color: black;
	}

	.side li {
		margin: 16px 0;
	}

	.side li::after {
		content: '';
		display: block;
		clear: both;
	}

	.side a {
		display: block;
		padding: 10px;
		color: #1c8ed6;
	}

	.side a:focus {
		outline: 1px solid #fff;
	}

	.side .selected {
		background-color: #384248;
	}

	.side .selected::after {
		content: '\f105';
		float: right;
		color: #7a8185;
		font-family: 'FontAwesome';
	}

	.side .key {
		float: left;
		color: #7a8185;
	}

	.side .key::after {
		content: ':';
	}

	.side .val {
		float: right;
	}

	.side .links li {
		margin: 4px -10px;
	}

	.side .stats ul:not(:first-child) {
		display: none;
	}

	.main {
		float: left;
		width: 721px;
	    padding-left: 30px;
		border-left: 1px dashed #646c71;
	}

	.main ul {
		width: 920px;
		height: 112px;
		margin: 486px 0 0;
		padding: 0;
		list-style: none;
	}

	.main li {
		float: left;
		position: relative;
		z-index: 1;
		width: 230px;
		height: 100%;
		transition: z-index;
		transition-delay: .8s;
	}

	.main li::before {
		content: '\f106';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		color: #384248;
		font: 6em/1 'FontAwesome';
		transform: translate(25%, -50%);
	}

	.main article {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1025px;
		height: 448px;
		outline: 4px solid #646c71;
		background-color: #384248;
		cursor: pointer;
		transform: translate(-45%, -50%) scale(.20);
		transition: transform .8s;
		color: white;
	}

	.main article:focus {
		outline-color: #fff;
	}

	.main .area {
		position: relative;
		width: 960px;
		height: 300px;
		margin: 32px 64px 48px;
		font-size: 1.1em;
	}

	.main .lines {
		counter-reset: y-axis 120;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.main .lines div {
		opacity: 0;
		position: relative;
		height: 20%;
		border-top: 1px solid #646c71;
		transition: opacity .8s;
	}

	.main .lines div::before {
		counter-increment: y-axis -20;
		content: counter(y-axis);
		display: block;
		position: absolute;
		top: -10px;
		left: -40px;
		width: 40px;
		padding-right: 8px;
		text-align: right;
	}

	.main .data {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.main dl {
		float: left;
		position: relative;
		width: 80px;
		height: 300px;
		margin: 0;
		text-align: center;
	}

	.main dt {
		opacity: 0;
		position: absolute;
		bottom: -28px;
		left: 0;
		right: 0;
		transition: opacity .8s;
	}

	.main dd {
		position: absolute;
		bottom: 0;
		width: 40px;
		margin: 0 20px;
		padding-top: 8px;
		border-top: 1px solid #1c8ed6;
		list-style: none;
		color: #fff;
		background-color: #125c8a;
	}

	.main dd::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #1c8ed6;
		transition: opacity .8s;
	}

	.main .dummies :nth-child(1) dd { height: 108px; }
	.main .dummies :nth-child(2) dd { height: 132px; }
	.main .dummies :nth-child(3) dd { height: 156px; }
	.main .dummies :nth-child(4) dd { height: 96px; }
	.main .dummies :nth-child(5) dd { height: 132px; }
	.main .dummies :nth-child(6) dd { height: 204px; }
	.main .dummies :nth-child(7) dd { height: 240px; }
	.main .dummies :nth-child(8) dd { height: 200px; }
	.main .dummies :nth-child(9) dd { height: 160px; }
	.main .dummies :nth-child(10) dd { height: 140px; }
	.main .dummies :nth-child(11) dd { height: 180px; }
	.main .dummies :nth-child(12) dd { height: 200px; }

	.main .WEL :nth-child(1) dd { height: 216px; }
	.main .WEL :nth-child(2) dd { height: 168px; }
	.main .WEL :nth-child(3) dd { height: 192px; }
	.main .WEL :nth-child(4) dd { height: 144px; }
	.main .WEL :nth-child(5) dd { height: 192px; }
	.main .WEL :nth-child(6) dd { height: 240px; }
	.main .WEL :nth-child(7) dd { height: 252px; }
	.main .WEL :nth-child(8) dd { height: 200px; }
	.main .WEL :nth-child(9) dd { height: 160px; }
	.main .WEL :nth-child(10) dd { height: 140px; }
	.main .WEL :nth-child(11) dd { height: 180px; }
	.main .WEL :nth-child(12) dd { height: 200px; }

	.main .WileyPLUS :nth-child(1) dd { height: 228px; }
	.main .WileyPLUS :nth-child(2) dd { height: 264px; }
	.main .WileyPLUS :nth-child(3) dd { height: 216px; }
	.main .WileyPLUS :nth-child(4) dd { height: 204px; }
	.main .WileyPLUS :nth-child(5) dd { height: 156px; }
	.main .WileyPLUS :nth-child(6) dd { height: 180px; }
	.main .WileyPLUS :nth-child(7) dd { height: 120px; }
	.main .WileyPLUS :nth-child(8) dd { height: 200px; }
	.main .WileyPLUS :nth-child(9) dd { height: 160px; }
	.main .WileyPLUS :nth-child(10) dd { height: 140px; }
	.main .WileyPLUS :nth-child(11) dd { height: 180px; }
	.main .WileyPLUS :nth-child(12) dd { height: 200px; }

	.main .WPLS :nth-child(1) dd { height: 228px; }
	.main .WPLS :nth-child(2) dd { height: 264px; }
	.main .WPLS :nth-child(3) dd { height: 216px; }
	.main .WPLS :nth-child(4) dd { height: 204px; }
	.main .WPLS :nth-child(5) dd { height: 156px; }
	.main .WPLS :nth-child(6) dd { height: 180px; }
	.main .WPLS :nth-child(7) dd { height: 120px; }
	.main .WPLS :nth-child(8) dd { height: 200px; }
	.main .WPLS :nth-child(9) dd { height: 160px; }
	.main .WPLS :nth-child(10) dd { height: 140px; }
	.main .WPLS :nth-child(11) dd { height: 180px; }
	.main .WPLS :nth-child(12) dd { height: 200px; }

	.main article h1 {
		height: 50px;
		margin: 16px;
		text-align: center;
		text-transform: none;
		letter-spacing: .05em;
		font-size: 2.8em;
		font-weight: normal;
		transform: translateY(-16px);
		transition: transform .8s;
	}

	/* Chrome/Safari/iOS fix: Bumping up the z-index from the start of
	   the expand animation until the end of the shrink animation
	   prevents unnecessary repaints on subsequent <article> elements. */
	.main .active {
		z-index: 2;
		transition-delay: 0s;
	}

	.main li:nth-child(1).active article {
		transform: translate(-114px, -542px) scale(1);
	}
	.main li:nth-child(2).active article {
		transform: translate(-344px, -542px) scale(1);
	}
	.main li:nth-child(3).active article {
		transform: translate(-574px, -542px) scale(1);
	}
	.main li:nth-child(4).active article {
		transform: translate(-800px, -542px) scale(1);
	}

	.main .active article {
		cursor: auto;
	}

	.main .active article {
		outline-width: 1px;
	}

	.main .active .lines div,
	.main .active dt {
		opacity: 1;
	}

	.main .active dd::after {
		opacity: 0;
	}

	.main .active article h1 {
		transform: translateY(0);
	}	
	

/*YTD Sales Line Chart Design*/

/* chart_wrap: temporary responsive tag */
#chart_wrap {
    position: relative;
    padding-bottom: 72%;
    height: 0;
    overflow:hidden;
}

#chart_wrap2 {
    position: relative;
    padding-bottom: 32%;
    height: 0;
    overflow:hidden;
}

#chart_wrap3 {
    position: absolute;
    padding-bottom: 30%;
    height: 0;
    overflow:hidden;
	width:40%;
}

.lines {
    width:22%;
    float:left;
    position:relative;
    display:inline-block;
    border-right:1px solid #3399CC;
}

.lines a {
    font-weight:bold;
    margin-left:5%;
}

/*Product Update info cars*/

#infolink {
    text-align:center;
    font-weight:bold;
    margin-left:1%;
}

.release {
   float:left;
    position:relative;
    margin-left:1%;
    text-align:center;
    width:23%;
}

.release ul {
    width:100%;
    font-size:12px;
    text-align:left;
    float: left;
    position: relative;
    font-weight: normal;
}

.release ul li {
    list-style:circle;
    margin-left:18px;
}

.release p {
    font-weight: bold;
    text-align: center;
    position: relative;
    line-height: 28px;
}

#releasedate {
    line-height: 30px;
    font-size: 28px;
    color: #000;
    float: left;
    left: 45px;
}


#calendaricon-grey {
    float:left;
    width:100%;
    background:url(http://www.wiley.com/college/dddash/images/calendar_page_grey.png) no-repeat center;
    position:relative;
    width: 100%;
    height: 105px;
}
#calendaricon-green {
    float:left;
    width:100%;
    background:url(http://www.wiley.com/college/dddash/images/calendar_page_green.png) no-repeat center;
    position:relative;
    width: 100%;
    height: 105px;
}
#calendaricon-yellow {
    float:left;
    width:100%;
    background:url(http://www.wiley.com/college/dddash/images/calendar_page_yellow.png) no-repeat center;
    position:relative;
    width: 100%;
    height: 105px;
}
#calendaricon-yellow p, #calendaricon-green p, #calendaricon-grey p{
    top: 28px;
    position: absolute;
    font-size: 24px;
    width: 100%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
/* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*Line Charts - Revenue Values*/

.revenue {
    float:left;
    position:relative;
    display:inline-block;
    width:99%;
    margin-left:1px;
    text-align: center;
}

#revA {
    font-weight:bold;
    font-size:30px;
    color:#FFCC33;
    margin-bottom: -5px;
}

#revB {
    font-weight:bold;
    font-size:30px;
    color:#66CC66;
}

#revborder {
    color:white;
    font-weight:bold;
    font-size:15px;
    width:100%;
    background:#3399CC;
    float:left;
    position:relative;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -5px;
}


/*spacing adjustments*/

.six.columns {
    margin-bottom:1%;
}

.twelve.columns {
    margin-bottom:1%;
}
.rightcolumn {
    float: right;
}

#legend {
    float:right;
    position:relative;
    margin-right:3%;
}

.ideaslabel {
    float: left;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 18px;	      
    width: 100%;
    margin-top: 5%;
    z-index: 2;
}

/*Media Query - Smartphone layout */

@media only screen and (max-width: 500px){
    body {
        width:100%;
        float:left;
        position:relative;
    }
    .container {
        width:100%;
        float:left;
        position:relative;
        margin:0 auto;
        padding:0;
    }
    .lines {
        float:left;
        position:relative;
        width:100%;
    }
    
    .headline h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    margin-left: 1%;
    font-size: 18px;
    line-height: 42.9px;
    font-family: 'Open Sans', sans-serif;
}    
    .headline h1 img {
        float: right;
        padding-right: 12% !important;
    }
    
    #chart_div {
    width: 95%;
    height: 88%;
    float: left;
    position: relative;
    margin-left: 3%;
    margin-top: 10px; 
    }
    
    #bubblechart {
    width: 100%;
    height: 100%;
    float: left;
    position:relative;
    margin-top:0% !important;
    margin-left: 5% !important;
    margin-bottom: 2%;
    }
	

}
