img{max-height:100%;max-width:100%}#nt-example2 {max-width: 100%;margin: auto;border:1px solid #000;margin-bottom:1.2em;}
ul {-webkit-padding-start: 0 !important;}
#nt-example2 li::before {content:"NEWS";color:#FFF;padding-right:1.3em;}
#nt-example2 li {color: #000;background-image:linear-gradient(to right,#3399cc,#3399cc 85px,#ffffff 85px,#ffffff 85%,#ffffff 85%);position:static;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height:27px;line-height: 30px;list-style: none;text-align: left;padding: 0 16px 0 16px;font-size:18px;}
.headline {width:100%;height:40px;background:#3399CC;}
.headline h1 {color:#FFFFFF; text-transform:uppercase; text-align:center; font-weight: bold;font-size:19.5px;line-height:42.9px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.columns{background:#F2F2F2;}
button.accordion {
    background-color: #3399cc;
    color: #F2F2F2;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
}
    button.accordion:before{
    content: '\02795';
    font-size: 13px;
    color: #FFFFFF;
    float: left;
    margin-right: 5px;
}
button.accordion.active:before{
    content: "\2796";
}
div.panel {
    padding: 0;
    background-color:#F2F2F2;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}
div.panel.show {
    opacity: 1;
    max-height: 500px;
}
tbody tr:nth-of-type(2n) {background-color: #F2F2F2;}
tbody {background-color: #F2F2F2;}
th {background-color:#F2F2F2;font-weight:bold;color:#000;padding:7px;}
td {padding:7px;text-align: center;}				.lightbox { display: none; }

@media all{.featherlight{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:2147483647;text-align:center;white-space:nowrap;cursor:pointer;background:#333;background:rgba(0,0,0,0)}.featherlight:last-of-type{background:rgba(0,0,0,.8)}.featherlight:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-.25em}.featherlight .featherlight-content{position:relative;text-align:left;vertical-align:middle;display:inline-block;overflow:auto;padding:25px 25px 0;border-bottom:25px solid transparent;margin-left:5%;margin-right:5%;max-height:95%;background:#fff;cursor:auto;white-space:normal}.featherlight .featherlight-inner{display:block}.featherlight .featherlight-close-icon{position:absolute;z-index:9999;top:0;right:0;line-height:25px;width:25px;cursor:pointer;text-align:center;font-family:Arial,sans-serif;background:#fff;background:rgba(255,255,255,.3);color:#000}.featherlight .featherlight-image{width:100%}.featherlight-iframe .featherlight-content{border-bottom:0;padding:0}.featherlight iframe{border:0}.featherlight *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}}@media only screen and (max-width:1024px){.featherlight .featherlight-content{margin-left:10px;margin-right:10px;max-height:98%;padding:10px 10px 0;border-bottom:10px solid transparent}}
@media screen and (max-device-width: 480px) {#releasedate {left: 9px !important;}th {padding:0;}td {padding:0;font-size:13px}.headline h1{bold 1.0em/2.5em" Helvetica Neue", Helvetica, Arial, sans-serif;}}

/*YTD Sales Line Chart Design*/

/* chart_wrap: temporary responsive tag */
#chart_wrap {
    position: relative;
    padding-bottom: 72%;
    height: 0;
    overflow:hidden;
}

#chart_wrap2 {
    position: relative;
    padding-bottom: 32%;
    height: 0;
    overflow:hidden;
}

#chart_wrap3 {
    position: absolute;
    padding-bottom: 30%;
    height: 0;
    overflow:hidden;
	width:40%;
}

.lines {
    width:22%;
    float:left;
    position:relative;
    display:inline-block;
    border-right:1px solid #3399CC;
}

.lines a {
    font-weight:bold;
    margin-left:5%;
}

/*Product Update info cars*/

#infolink {
    text-align:center;
    font-weight:bold;
    margin-left:1%;
}

.release {
   float:left;
    position:relative;
    margin-left:1%;
    text-align:center;
    width:23%;
}

.release ul {
    width:100%;
    font-size:12px;
    text-align:left;
    float: left;
    position: relative;
    margin-top: -50px;
    font-weight: bold;
}

.release ul li {
    list-style:circle;
    margin-left:18px;
}

.release p {
    font-weight: bold;
    color: #66CC66;
    text-align: center;
    position: relative;
}

#releasedate {
    line-height: 30px;
    font-size: 28px;
    color: #000;
    float: left;
    position: relative;
    top: -75px;
    left: 45px;
}
#calendaricon {
    float:left;
    position:relative;
    width:100%;
}

/*Line Charts - Revenue Values*/

.revenue {
    float:left;
    position:relative;
    display:inline-block;
    width:99%;
    margin-left:1px;
    text-align: center;
}

#revA {
    font-weight:bold;
    font-size:30px;
    color:#FFCC33;
    margin-bottom: -5px;
}

#revB {
    font-weight:bold;
    font-size:30px;
    color:#66CC66;
}

#revborder {
    color:white;
    font-weight:bold;
    font-size:15px;
    width:100%;
    background:#3399CC;
    float:left;
    position:relative;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -5px;
}


/*spacing adjustments*/

.six.columns {
    margin-bottom:1%;
}

.twelve.columns {
    margin-bottom:1%;
}
.rightcolumn {
    float: right;
}

#legend {
    float:right;
    position:relative;
    margin-right:3%;
}

.ideaslabel {
    float: left;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 18px;	      
    width: 100%;
    margin-top: 5%;
    z-index: 2;
}
