/* reset global default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* set proper padding for title */

.title {
  padding: 20px 0px 0px 25px;
}


/* set the whole row to be as wide as screen */

.learn {
  display: block;
  width: 100%;
  min-width: 250px;
  padding: 20px;
}


/* You don't have to change CSS code above, but feel free to do so */


/* Please add your own CSS below to implement the page */


/* Use the comments below to guide you through the process */


/* ***************************************************************** */


/* set tile to share the row, 4 in a row, with proper display */

ul {
  display: table;
  margin: 0 auto;
}

.learn li {
  display: inline-block;
  width: 644px;
  height: 520px;
}


/* set tile to remove gap  */

.learn li {
  margin-right: 10px;
  border: 5px solid white;
  margin-bottom: 10px;
}


/* set background color lightgrey and vertical align top */

.learn li {
  background-color: #f2f2f2;
  vertical-align: top;
}


/* set image display, width to be as wide as tile */

.learn li img {
  display: block;
  width: 100%;
  height: 88%;
}


/* set span display, width, padding and font-family */

.learn > li > span {
  display: block;
  padding: .5em;
  width: 100%;
  height: 60px;
  font-family: "HelveticaNeue-Bold", "HelveticaNeue-Bold", 'Helvetica Neue', Helvetica;
  font-size: 28px;
  text-align: center;
  background-color: #3399CC
}


/* attach tiles */

#cont {
  margin-top: -20px;
  width: 100%;
  background-color: #F2F2F2;
}


/* set 1st span, use :nth-of-type(1), */

span:nth-of-type(1) {
  font-size: 1.25em;
  font-weight: bold;
}


/* set 3rd span, use span:nth-of-type(3), */

span:nth-of-type(3) {
  text-transform: uppercase;
  color: green;
}


/* place 3rd span 10px away from bottom of the tile, in next 2 steps */


/* step1, set tile postion relative */

.learn li {
  position: relative;
}


/* step2, set 3rd span, use span:nth-of-type(3) selector, position absolute and 10px bottom */

span:nth-of-type(3) {
  position: absolute;
  margin-bottom: 10px;
  bottom: 10px;
}


/* add > sign with span:nth-of-type(3):after selector and content property */

.learn > li > span:nth-of-type(3):after {
  content: "    >";
}

/*Product Update Info Cards*/

.e4release {
    background:#FFF;
    width:125px;
    float:left;
    position:relative;
    height:75px;
}

/* single tile row for screen size */

@media (max-width: 499px) {
  /* set each tile width 100% */
  .learn li {
    width: 100%;
  }
}


/* double tile row for screen size from 500px to 999px */

@media (min-width: 500px) and (max-width: 999px) {
  /* set each tile width 50% */
  .learn li {
    width: 50%;
  }
}


/* quad tile row for screen size more than 1000px */

@media (min-width: 1000px) {
  /* set each tile width 25% */
  .learn li {
    width: 49%;
  }
  #news {
    width: 99%;
  }
  /* set headers for tables */
  #htable {
    font-size: 18px;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", 'HelveticaNeue-Medium', 'Helvetica Neue Medium', Helvetica;
    font-color: white;
    background-color: #3399CC;
  }
  /* table preferences */
  .ru {
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 18px;
  }
  #inner {
    text-align: center;
  }
  .ru {
    border-collapse: collapse;
  }
  table{
    border-collapse: collapse;
  }
  /* Set borders */
  table td,
  table th {
    border: 1px solid;
    border-color: #3399CC;
  }
  table th {
    border-top: 0;
  }
   tr td:first-child,
   tr th:first-child {
    border-left: 0;
  }
  tr td:last-child,
  tr th:last-child {
    border-right: 0;
  }
  /* Google chart settings */
  #chart_div {
    display: block;
  }
  .chartWithOverlay {
    position: relative;
  }
  .overlay {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -30px;
    /* chartArea top  */
    left: 120px;
    /* chartArea left */
  }
  /* style for accordian */
  body {
    font-family: arial, sans-serif;
    font-size: 14px;
  }
  button.accordion {
    background-color: #3399cc;
    color: #F2F2F2;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
  }
  button.accordion:before {
    content: '\02795';
    font-size: 13px;
    color: #FFFFFF;
    float: left;
    margin-right: 5px;
  }
  button.accordion.active:before {
    content: "\2796";
  }
  div.panel {
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
  }
  div.panel.show {
    opacity: 1;
    max-height: 500px;
  }
  tbody tr:nth-of-type(2n) {
    background-color: #F2F2F2;
  }
  tbody {
    background-color: #F2F2F2;
  }
  th {
    background-color: #F2F2F2;
    font-weight: bold;
    color: #000;
    padding: 7px;
  }
  td {
    padding: 7px;
    text-align: center;
  }
  hr {
    position: absolute;
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #3399CC;
    margin-top: 60%;
    padding: 0;
  }
}